# =================================================================== #
#                            Maven                                    #
# =================================================================== #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://maven.apache.org/wrapper/#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar


# =================================================================== #
#                      IDE Configuration Files                        #
# =================================================================== #
# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode/


# =================================================================== #
#                    Operating System Files                           #
# =================================================================== #
# macOS
.DS_Store

# Windows
Thumbs.db


# =================================================================== #
#                      Logs and Temporary Files                       #
# =================================================================== #
*.log
logs/
hs_err_pid*
